section.head_menu
	.container
		.head_menu_links
			a(href='#').head_menu_link Учредители
			a(href='#').head_menu_link Партнеры
			a(href='#').head_menu_link Официальные документы
			a(href='#').head_menu_link Контакты