.page.page2
    section.section1
        header
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .b
                    .login Войти
                    .reg Регистрация
    section.section22
        .container
            .head Результаты трейдеров 
                br
                | Trade Signals
            .text
                | Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. 
                br
                br  
                | Таким образом рамки и место обучения кадров в значительной степени обуславливает создание соответствующий условий активизации. С другой стороны реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. 
                br 
                br
                | Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
    section.section21
        .container
            h1 
            h3  Регистрация
            .form
                input.input.getfname(type='text' placeholder='Введите Ваше имя')
                input.input.getlname(type='text' placeholder='Введите Вашу фамилию')                
                button Зарегистрируйтесь
                label.agree
                    input(type='checkbox' checked)
                    | Согласен с 
                    a(href="") правилами сервиса
                    | и 
                    a(href="") политикой конфиденциальности
            .subform Демо-доступ придет вам на e-mail в течение 30 секунд  
    section.section12
        
        footer
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .email Политика конфиденциальности
                .email Правила и условия сервиса

<!--Plugin CSS file with desired skin-->

    