.page.page2
    section.section1
        header
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .b
                    .login Войти
                    .reg Регистрация
    section.section22
        .container
            .head Результаты трейдеров 
                br
                | Trade Signals
            .text
                | Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. 
                br
                br  
                | Таким образом рамки и место обучения кадров в значительной степени обуславливает создание соответствующий условий активизации. С другой стороны реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. 
                br 
                br
                | Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
    section.section21
        .container
            h1 
            h3  Регистрация
            .form
                input.input.getfname(type='text' placeholder='Введите Ваше имя')
                input.input.getlname(type='text' placeholder='Введите Вашу фамилию')
                input.input.getemail(type='email' placeholder='Введите Ваш e-mail')
                .phones
                    <select name="codeNum" class="form-control req phone_code" required="required">
                        <option data-iso='Ad' value='7'> +7</option>
                        <option data-iso='AD' value='376'> +376</option>
                        <option data-iso='AE' value='971'> +971</option>
                        <option data-iso='AF' value='93'> +93</option>
                        <option data-iso='AG' value='1268'> +1268</option>
                        <option data-iso='AI' value='1264'> +1264</option>
                        <option data-iso='AL' value='355'> +355</option>
                        <option data-iso='AM' value='374'> +374</option>
                        <option data-iso='AN' value='599'> +599</option>
                        <option data-iso='AO' value='244'> +244</option>
                        <option data-iso='AQ' value='672'> +672</option>
                        <option data-iso='AR' value='54'> +54</option>
                        <option data-iso='AS' value='1684'> +1684</option>
                        <option data-iso='AT' value='43'> +43</option>
                        <option data-iso='AU' value='61'> +61</option>
                        <option data-iso='AW' value='297'> +297</option>
                        <option data-iso='AX' value='358'> +358</option>
                        <option data-iso='AZ' value='994'> +994</option>
                        <option data-iso='BA' value='387'> +387</option>
                        <option data-iso='BB' value='1246'> +1246</option>
                        <option data-iso='BD' value='880'> +880</option>
                        <option data-iso='BE' value='32'> +32</option>
                        <option data-iso='BF' value='226'> +226</option>
                        <option data-iso='BG' value='359'> +359</option>
                        <option data-iso='BH' value='973'> +973</option>
                        <option data-iso='BI' value='257'> +257</option>
                        <option data-iso='BJ' value='229'> +229</option>
                        <option data-iso='BL' value='590'> +590</option>
                        <option data-iso='BM' value='1441'> +1441</option>
                        <option data-iso='BN' value='673'> +673</option>
                        <option data-iso='BO' value='591'> +591</option>
                        <option data-iso='BQ' value='599'> +599</option>
                        <option data-iso='BR' value='55'> +55</option>
                        <option data-iso='BS' value='1242'> +1242</option>
                        <option data-iso='BT' value='975'> +975</option>
                        <option data-iso='BW' value='267'> +267</option>
                        <option data-iso='BY' value='375'> +375</option>
                        <option data-iso='BZ' value='501'> +501</option>
                        <option data-iso='CA' value='1'> +1</option>
                        <option data-iso='CC' value='61'> +61</option>
                        <option data-iso='CD' value='243'> +243</option>
                        <option data-iso='CF' value='236'> +236</option>
                        <option data-iso='CG' value='242'> +242</option>
                        <option data-iso='CH' value='41'> +41</option>
                        <option data-iso='CI' value='225'> +225</option>
                        <option data-iso='CK' value='682'> +682</option>
                        <option data-iso='CL' value='56'> +56</option>
                        <option data-iso='CM' value='237'> +237</option>
                        <option data-iso='CN' value='86'> +86</option>
                        <option data-iso='CO' value='57'> +57</option>
                        <option data-iso='CR' value='506'> +506</option>
                        <option data-iso='CS' value='381'> +381</option>
                        <option data-iso='CU' value='53'> +53</option>
                        <option data-iso='CV' value='238'> +238</option>
                        <option data-iso='CW' value='599'> +599</option>
                        <option data-iso='CX' value='61'> +61</option>
                        <option data-iso='CY' value='357'> +357</option>
                        <option data-iso='CZ' value='420'> +420</option>
                        <option data-iso='DE' value='49'> +49</option>
                        <option data-iso='DJ' value='253'> +253</option>
                        <option data-iso='DK' value='45'> +45</option>
                        <option data-iso='DM' value='1767'> +1767</option>
                        <option data-iso='DO' value='1809'> +1809</option>
                        <option data-iso='DZ' value='213'> +213</option>
                        <option data-iso='EC' value='593'> +593</option>
                        <option data-iso='EE' value='372'> +372</option>
                        <option data-iso='EG' value='20'> +20</option>
                        <option data-iso='EH' value='212'> +212</option>
                        <option data-iso='ER' value='291'> +291</option>
                        <option data-iso='ES' value='34'> +34</option>
                        <option data-iso='ET' value='251'> +251</option>
                        <option data-iso='EU' value='3444'> +3444</option>
                        <option data-iso='FI' value='358'> +358</option>
                        <option data-iso='FJ' value='679'> +679</option>
                        <option data-iso='FK' value='500'> +500</option>
                        <option data-iso='FM' value='691'> +691</option>
                        <option data-iso='FO' value='298'> +298</option>
                        <option data-iso='FR' value='33'> +33</option>
                        <option data-iso='GA' value='241'> +241</option>
                        <option data-iso='GB' value='44'> +44</option>
                        <option data-iso='GD' value='1473'> +1473</option>
                        <option data-iso='GE' value='995'> +995</option>
                        <option data-iso='GF' value='594'> +594</option>
                        <option data-iso='GG' value='441481'> +441481</option>
                        <option data-iso='GH' value='233'> +233</option>
                        <option data-iso='GI' value='350'> +350</option>
                        <option data-iso='GL' value='299'> +299</option>
                        <option data-iso='GM' value='220'> +220</option>
                        <option data-iso='GN' value='224'> +224</option>
                        <option data-iso='GP' value='590'> +590</option>
                        <option data-iso='GQ' value='240'> +240</option>
                        <option data-iso='GR' value='30'> +30</option>
                        <option data-iso='GS' value='500'> +500</option>
                        <option data-iso='GT' value='502'> +502</option>
                        <option data-iso='GU' value='1671'> +1671</option>
                        <option data-iso='GW' value='245'> +245</option>
                        <option data-iso='GY' value='592'> +592</option>
                        <option data-iso='HK' value='852'> +852</option>
                        <option data-iso='HN' value='504'> +504</option>
                        <option data-iso='HR' value='385'> +385</option>
                        <option data-iso='HT' value='509'> +509</option>
                        <option data-iso='HU' value='36'> +36</option>
                        <option data-iso='ID' value='62'> +62</option>
                        <option data-iso='IE' value='353'> +353</option>
                        <option data-iso='IL' value='972'> +972</option>
                        <option data-iso='IM' value='441624'> +441624</option>
                        <option data-iso='IN' value='91'> +91</option>
                        <option data-iso='IO' value='246'> +246</option>
                        <option data-iso='IQ' value='964'> +964</option>
                        <option data-iso='IR' value='98'> +98</option>
                        <option data-iso='IS' value='354'> +354</option>
                        <option data-iso='IT' value='39'> +39</option>
                        <option data-iso='JE' value='441534'> +441534</option>
                        <option data-iso='JM' value='1876'> +1876</option>
                        <option data-iso='JO' value='962'> +962</option>
                        <option data-iso='JP' value='81'> +81</option>
                        <option data-iso='KE' value='254'> +254</option>
                        <option data-iso='KG' value='996'> +996</option>
                        <option data-iso='KH' value='855'> +855</option>
                        <option data-iso='KI' value='686'> +686</option>
                        <option data-iso='KM' value='269'> +269</option>
                        <option data-iso='KN' value='1869'> +1869</option>
                        <option data-iso='KP' value='850'> +850</option>
                        <option data-iso='KR' value='82'> +82</option>
                        <option data-iso='KV' value='381'> +381</option>
                        <option data-iso='KW' value='965'> +965</option>
                        <option data-iso='KY' value='1345'> +1345</option>
                        <option data-iso='KZ' value='7'> +7</option>
                        <option data-iso='LA' value='856'> +856</option>
                        <option data-iso='LB' value='961'> +961</option>
                        <option data-iso='LC' value='1758'> +1758</option>
                        <option data-iso='LI' value='423'> +423</option>
                        <option data-iso='LK' value='94'> +94</option>
                        <option data-iso='LR' value='231'> +231</option>
                        <option data-iso='LS' value='266'> +266</option>
                        <option data-iso='LT' value='370'> +370</option>
                        <option data-iso='LU' value='352'> +352</option>
                        <option data-iso='LV' value='371'> +371</option>
                        <option data-iso='LY' value='218'> +218</option>
                        <option data-iso='MA' value='212'> +212</option>
                        <option data-iso='MC' value='377'> +377</option>
                        <option data-iso='MD' value='373'> +373</option>
                        <option data-iso='ME' value='382'> +382</option>
                        <option data-iso='MF' value='590'> +590</option>
                        <option data-iso='MG' value='261'> +261</option>
                        <option data-iso='MH' value='692'> +692</option>
                        <option data-iso='MK' value='389'> +389</option>
                        <option data-iso='ML' value='223'> +223</option>
                        <option data-iso='MM' value='95'> +95</option>
                        <option data-iso='MN' value='976'> +976</option>
                        <option data-iso='MO' value='853'> +853</option>
                        <option data-iso='MP' value='1670'> +1670</option>
                        <option data-iso='MQ' value='596'> +596</option>
                        <option data-iso='MR' value='222'> +222</option>
                        <option data-iso='MS' value='1664'> +1664</option>
                        <option data-iso='MT' value='356'> +356</option>
                        <option data-iso='MU' value='230'> +230</option>
                        <option data-iso='MV' value='960'> +960</option>
                        <option data-iso='MW' value='265'> +265</option>
                        <option data-iso='MX' value='52'> +52</option>
                        <option data-iso='MY' value='60'> +60</option>
                        <option data-iso='MZ' value='258'> +258</option>
                        <option data-iso='NA' value='264'> +264</option>
                        <option data-iso='NC' value='687'> +687</option>
                        <option data-iso='NE' value='227'> +227</option>
                        <option data-iso='NF' value='672'> +672</option>
                        <option data-iso='NG' value='234'> +234</option>
                        <option data-iso='NI' value='505'> +505</option>
                        <option data-iso='NL' value='31'> +31</option>
                        <option data-iso='NO' value='47'> +47</option>
                        <option data-iso='NP' value='977'> +977</option>
                        <option data-iso='NR' value='674'> +674</option>
                        <option data-iso='NU' value='683'> +683</option>
                        <option data-iso='NZ' value='64'> +64</option>
                        <option data-iso='OM' value='968'> +968</option>
                        <option data-iso='PA' value='507'> +507</option>
                        <option data-iso='PE' value='51'> +51</option>
                        <option data-iso='PF' value='689'> +689</option>
                        <option data-iso='PG' value='675'> +675</option>
                        <option data-iso='PH' value='63'> +63</option>
                        <option data-iso='PK' value='92'> +92</option>
                        <option data-iso='PL' value='48'> +48</option>
                        <option data-iso='PM' value='508'> +508</option>
                        <option data-iso='PN' value='64'> +64</option>
                        <option data-iso='PR' value='1'> +1</option>
                        <option data-iso='PS' value='970'> +970</option>
                        <option data-iso='PT' value='351'> +351</option>
                        <option data-iso='PW' value='680'> +680</option>
                        <option data-iso='PY' value='595'> +595</option>
                        <option data-iso='QA' value='974'> +974</option>
                        <option data-iso='RE' value='262'> +262</option>
                        <option data-iso='RO' value='40'> +40</option>
                        <option data-iso='RU' value='7'> +7</option>
                        <option data-iso='RU' value='7'> +7</option>
                        <option data-iso='RW' value='250'> +250</option>
                        <option data-iso='SA' value='966'> +966</option>
                        <option data-iso='SB' value='677'> +677</option>
                        <option data-iso='SC' value='248'> +248</option>
                        <option data-iso='SD' value='249'> +249</option>
                        <option data-iso='SE' value='46'> +46</option>
                        <option data-iso='SG' value='65'> +65</option>
                        <option data-iso='SH' value='290'> +290</option>
                        <option data-iso='SH' value='247'> +247</option>
                        <option data-iso='SI' value='386'> +386</option>
                        <option data-iso='SJ' value='47'> +47</option>
                        <option data-iso='SK' value='421'> +421</option>
                        <option data-iso='SL' value='232'> +232</option>
                        <option data-iso='SM' value='378'> +378</option>
                        <option data-iso='SN' value='221'> +221</option>
                        <option data-iso='SO' value='252'> +252</option>
                        <option data-iso='SR' value='597'> +597</option>
                        <option data-iso='SS' value='211'> +211</option>
                        <option data-iso='ST' value='239'> +239</option>
                        <option data-iso='SV' value='503'> +503</option>
                        <option data-iso='SX' value='1721'> +1721</option>
                        <option data-iso='SY' value='963'> +963</option>
                        <option data-iso='SZ' value='268'> +268</option>
                        <option data-iso='TC' value='1649'> +1649</option>
                        <option data-iso='TD' value='235'> +235</option>
                        <option data-iso='TF' value='262'> +262</option>
                        <option data-iso='TG' value='228'> +228</option>
                        <option data-iso='TH' value='66'> +66</option>
                        <option data-iso='TJ' value='992'> +992</option>
                        <option data-iso='TK' value='690'> +690</option>
                        <option data-iso='TL' value='670'> +670</option>
                        <option data-iso='TM' value='993'> +993</option>
                        <option data-iso='TN' value='216'> +216</option>
                        <option data-iso='TO' value='676'> +676</option>
                        <option data-iso='TR' value='90'> +90</option>
                        <option data-iso='TT' value='1868'> +1868</option>
                        <option data-iso='TV' value='688'> +688</option>
                        <option data-iso='TW' value='886'> +886</option>
                        <option data-iso='TZ' value='255'> +255</option>
                        <option data-iso='UG' value='256'> +256</option>
                        <option data-iso='UM' value='699'> +699</option>
                        <option data-iso='US' value='1'> +1</option>
                        <option data-iso='UY' value='598'> +598</option>
                        <option data-iso='UZ' value='998'> +998</option>
                        <option data-iso='VA' value='379'> +379</option>
                        <option data-iso='VC' value='1784'> +1784</option>
                        <option data-iso='VE' value='58'> +58</option>
                        <option data-iso='VG' value='1284'> +1284</option>
                        <option data-iso='VI' value='1340'> +1340</option>
                        <option data-iso='VN' value='84'> +84</option>
                        <option data-iso='VU' value='678'> +678</option>
                        <option data-iso='WF' value='681'> +681</option>
                        <option data-iso='WS' value='685'> +685</option>
                        <option data-iso='YE' value='967'> +967</option>
                        <option data-iso='YT' value='262'> +262</option>
                        <option data-iso='ZA' value='27'> +27</option>
                        <option data-iso='ZM' value='260'> +260</option>
                        <option data-iso='ZW' value='263'> +263</option>
                    </select>
                    input.input.getphone(type='phone' placeholder='Введите телефон')
                button Зарегистрируйтесь
                label.agree
                    input(type='checkbox' checked)
                    | Согласен с 
                    a(href="") правилами сервиса
                    | и 
                    a(href="") политикой конфиденциальности
            .subform Демо-доступ придет вам на e-mail в течение 30 секунд  
    section.section12
        
        footer
            .logo
                img(src="img/logo.png")
            .head-text Прибыльные сигналы для торговли
                br
                | бинарными опционами
            .r
                .email info@binarysuccess.pro
                .email Политика конфиденциальности
                .email Правила и условия сервиса

<!--Plugin CSS file with desired skin-->

    